.content{
    display: flex;
    flex-direction: column;

    &__data{
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;

        &--img{
            margin-right: 1rem;
            width: 150px;
            height: 150px;
        }    
        &--word{
            font-size: 1rem;
        }   
    }
}



